{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-5">
        <div class="shadow d-flex flex-row justify-content-center align-items-center">
            <div class="col-2 d-none d-sm-block mt-3">
                <figure>
                    <img class="img-thumbnail imgEdition"
                         src="{{ vich_uploader_asset(edition.event, 'imageFile') }}{{ edition.event.imageFile }}">
                </figure>
            </div>
            <div class="col-8 offset-2">
                <h1>{{ edition.event.title }}</h1>
                <h2>{{ edition.name }}</h2>
                <p>Début: {{ edition.startDate|date('Y-m-d H:i:s') }} Fin: {{ edition.endDate|date('Y-m-d H:i:s') }}</p>
                <p>Lieu: {{ edition.place }}</p>
                <p>Hashtag Twitter: #{{ edition.hashtag }}</p>
                <p>Statut: {{ edition.status }}</p>
            </div>
        </div>
    </div>
    <div id="carouselNews" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for notification in edition.notifications %}
                {% if loop.first %}
                    <div class="carousel-item text-center active">
                        <h5>Contenu: {{ notification.content }}</h5>
                        <p>Date de publication: {{ notification.publicationTime|date('Y-m-d H:i:s') }}</p>
                    </div>
                {% else %}
                    <div class="carousel-item text-center">
                        <h5>Contenu: {{ notification.content }}</h5>
                        <p>Date de publication: {{ notification.publicationTime|date('Y-m-d H:i:s') }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselNews" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselNews" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
