{% extends 'base.html.twig' %}
{% block title %}{{ edition.event.title }} - {{ edition.name }}{% endblock %}
{% block body %}
    <h1>Edition</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edition.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ edition.name }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if edition.startDate %}{{ edition.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if edition.endDate %}{{ edition.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ edition.place }}</td>
            </tr>
            <tr>
                <th>Hashtag</th>
                <td>{{ edition.hashtag }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ edition.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('edition_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('edition_edit', { 'id': edition.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('notification_new') }}" role="button"><i class="fas fa-pencil-alt"></i> Publier une nouvelle</a>
        </li>
    </ul>
{% endblock %}
