{% trans_default_domain 'FOSUserBundle' %}
<div class="row justify-content-center my-5">
    <div class="col-6 shadow">
        <h1 class="text-center">Modifier mes données</h1>
        <div>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            <div class="form-group">
                <label for="app_user_profile_email">Adresse e-mail :</label>
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                <label for="app_user_profile_username">Nom d'utilisateur :</label>
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                <label for="app_user_profile_current_password">Mot de passe actuel :</label>
                {{ form_widget(form.current_password) }}
            </div>
            {{ form_widget(form) }}
            <div class="form-group text-center">
                <a class="btn btn-dark float-left" href="/profile"><i class="fas fa-chevron-left"></i> Retour</a>
                <a class="btn btn-info" href="/profile/change-password">Changer le mot de passe</a>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-pencil-alt"></i> Modifier
                </button>
            </div>
            <div class="form-row">

            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
