{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/toggleStyle.css') }}">
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-center my-5">
    <div class="col-6 shadow">
        <h1 class="text-center">Modifier mes données</h1>
        <div>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            <div class="form-group">
                {{ form_row(form.email, {'label': 'Adresse e-mail :'}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.username, {'label': 'Nom d\'utilisateur :'}) }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        {{ form_row(form.mobility, {'label' : 'Mobilité:' }) }}
                    </div>
                    <div class="col-4 align-self-end">
                        <p class="distance align-self-center">Distance :<span id="distance"></span> km</p>
                    </div>
                </div>
            </div>
            {{ form_widget(form) }}
            <div class="form-group">
                {{ form_row(form.tags) }}
            </div>
            <div class="form-group text-center">
                <a class="btn btn-dark float-left" href="/profile"><i class="fas fa-chevron-left"></i> Retour</a>
                <a class="btn btn-info" href="/profile/change-password">Changer le mot de passe</a>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-pencil-alt"></i> Modifier
                </button>
            </div>
            <div class="form-row">

            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('build/toggles.js') }}"></script>
    <script>
        let latitude = {{ form.latitude.vars.id }};
        let longitude = {{ form.longitude.vars.id }};
        let codePostal = {{ form.codePostal.vars.id }};
        let searchBar = {{ form.city.vars.id }};
        let rangeBar = {{ form.mobility.vars.id }};
    </script>
    <script src="{{ asset('build/searchCity.js') }}" ></script>
    <script src="{{ asset('build/rangeValue.js') }}"></script>
{% endblock %}
