{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/event.css') }}">
{% endblock %}

<div class="row justify-content-center my-5">
    <div class="col-6 shadow text-center">
        <h1 class="mt-4">Mon compte</h1>
        <div>
            <h3>Mes données</h3>
            <div class="fos_user_user_show">
                <p>{{ 'Nom'|trans }} : {{ user.lastname }}</p>
                <p>{{ 'Prénom'|trans }} : {{ user.firstname }}</p>
                <p>{{ 'Nom d\'utilisateur'|trans }} : {{ user.username }}</p>
                <p>{{ 'Email'|trans }} : {{ user.email }}</p>
                <p>{{ 'Ville'|trans }} : {{ user.city }}</p>
                <p>{{ 'Mobilité'|trans }} : {{ user.mobility }} km</p>
                <p>{{ 'Mes mots clés'|trans }} : {% for tag in user.tags %}{{ tag }}, {% endfor %}</p>
                <a class="btn btn-primary mb-3" href="/profile/edit"><i class="fas fa-pencil-alt"></i> Modifier</a>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center mt-2">Mes évènements</h2>
<div class="row">
    {% set events = user.events %}
    {% include 'event/events.html.twig' %}
</div>
<h2 class="text-center mt-2">Mes évènements suivis</h2>
<div class="row">
    {% set events = user.eventsFollowed %}
    {% include 'event/events.html.twig' %}
</div>