{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('build/profile.css') }}">
<h1 class="text-center">Modifier mon mot de passe</h1>
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card bg-primary mx-auto">
            <div class="card-body text-center">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password card-text' } }) }}
                <div class="form-row p-2 justify-content-center">
                    <label for="app_user_change_password_current_password">Mot de passe actuel</label>
                    {{ form_widget(form.current_password) }}
                </div>
                <div class="form-row p-2 justify-content-center">
                    <label for="app_user_change_password_new_password">Nouveau mot de passe</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="form-row p-2 justify-content-center">
                    <label for="app_user_change_password_password_confirmation">Confirmation nouveau mot de
                        passe</label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <div class="form-row mt-2">
                    <input type="submit" class="btn btn-danger mx-auto" value="{{ 'Modifier'|trans }}"/>
                    <a class="btn btn-dark mx-auto" href="/profile/edit">Retour</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
