{% trans_default_domain 'FOSUserBundle' %}
<div class="row justify-content-center my-5">
    <div class="col-12 col-sm-9 col-md-8 col-lg-6 shadow">
        <h1 class="text-center">Modifier mon mot de passe</h1>
        <div class="offset-0 offset-lg-2 col-12 col-lg-8">
            {{ form_start(form, { 'action': path('fos_user_change_password'),
                                  'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="form-group">
                {{ form_row(form.current_password, {'label': 'Mot de passe actuel :'}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.first, {'label': 'Nouveau mot de passe :'}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second, {'label': 'Confirmation nouveau mot de passe :'}) }}
            </div>
            <div class="form-group">
                <a class="btn btn-dark" href="/profile/edit"><i class="fas fa-chevron-left"></i> Retour</a>
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-pencil-alt"></i> Modifier
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
