{% extends 'base.html.twig' %}

{% block title %}Gestion du Staff{% endblock %}

{% block body %}
<div class="row my-5">
    <div class="col-12 shadow">
        <h1 class="text-center mb-3">Gestion du Staff de {{ edition.name }}</h1>
        <div class="d-flex flex-column flex-md-row">
        {% for group in groups %}
            {% for role in group.roles %}
                <div class="col-12 col-sm-4">
                    <table class="table table-bordered">
                        <thead class="text-center font-weight-bold">
                        <tr>
                            <td>{{ role|lower|capitalize }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in group.users %}
                        <tr>
                            <td>{{ user.username }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="form-inline justify-content-between">
        <a class="btn btn-dark mb-2" href="{{ path('edition_edit', {'slug' : edition.slug}) }}">
            <i class="fas fa-chevron-left"></i> Retour
        </a>
        <a class="btn btn-primary mb-2" href="{{ path('invite_user', {'edition' : edition.id}) }}">
            <i class="fas fa-plus"></i> Ajouter
        </a>
        </div>
    </div>
</div>
{% endblock %}