{% extends 'base.html.twig' %}

{% block title %}Gestion du Staff{% endblock %}

{% block body %}
<div class="row my-5">
    <div class="col-12 shadow">
        <h1>Gestion du Staff de {{ edition.name }}</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    {% for group in groups %}
                        {% for role in group.roles %}
                            <td>{{ role }}</td>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                <tr>
                    {% for user in group.users|sort %}
                        <td>{{ user.username }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-dark mb-2 float-left" href="{{ path('edition_edit', {'id' : edition.id}) }}"><i class="fas fa-chevron-left"></i> Retour à l'édition</a>
            <a class="btn btn-primary mb-2 float-right" href="{{ path('invite_user', {'edition' : edition.id}) }}"><i class="fas fa-plus"></i> Inviter un utilisateur</a>
        </div>
    </div>
</div>
{% endblock %}