{% extends 'base.html.twig' %}
{% block title %}Inviter un utilisateur{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center shadow my-5">
            <h1 class="text-center mt-3">Ajouter un collaborateur</h1>
            <div class="col-md-10 offset-md-1">
                {{ form_start(form) }}

                {{ form_label(form.email, 'Indiquez l\'e-mail de l\'utilisateur à inviter :') }}
                {{ form_widget(form.email, { 'attr': {'class' : 'mb-3'}}) }}
                {{ form_errors(form.email) }}
                {{ form_label(form.role) }}
                {{ form_widget(form.role) }}
                {{ form_errors(form.role) }}
                <div class="form-group mt-4 d-flex justify-content-between text-center">
                    <a class="btn btn-dark" href="{{ path('group_index', {'edition' : edition.id}) }}"><i class="fas fa-chevron-left"></i> Retour</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
