{% extends 'base.html.twig' %}
{% block title %}Inviter un utilisateur{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-6 offset-3 text-center shadow my-5">
            <h1 class="text-center mt-3">Inviter un utilisateur</h1>
            {{ form_start(form) }}

            {{ form_label(form.email, 'Indiquez l\'e-mail de l\'utilisateur à inviter :') }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_label(form.role) }}
            {{ form_widget(form.role) }}
            {{ form_errors(form.role) }}
            <div class="form-group mt-4">
                <a class="btn btn-dark mb-2 float-left" href="{{ path('group_index', {'edition' : edition.id}) }}"><i class="fas fa-chevron-left"></i> Retour à la liste du staff</a>
                <button type="submit" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Inviter</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% if error is defined %}
    <div class="row justify-content-center my-5">
        <div class="col-6 text-center">
            <p class="mt-4">{{ error }}</p>
        </div>
    </div>
    {% endif %}

{% endblock %}