{% extends 'base.html.twig' %}
{% block title %}Attribuer un rôle{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-6 offset-3 text-center shadow my-5">
            <h1 class="text-center mt-3">Rechercher un utilisateur</h1>
            {{ form_start(form) }}

            {{ form_label(form.email, 'Indiquez l\'e-mail de l\'utilisateur recherché :') }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2 text-center">Rechercher <i class="fas fa-search"></i></button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    {% if searchedUser is defined %}
        {% if searchedUser is null %}
            <div class="row">
                <div class="col-6 offset-3 text-center shadow my-5">
                    <p>Aucun résultat</p>
                </div>
            </div>
        {% else %}
        <div class="row justify-content-center my-5">
            <div class="col-6 shadow text-center">
                <h1 class="mt-4">Utilisateur trouvé:</h1>
                <div>
                    <div class="fos_user_user_show">
                        <p>{{ 'Nom'|trans }} : {{ searchedUser.lastname }}</p>
                        <p>{{ 'Prénom'|trans }} : {{ searchedUser.firstname }}</p>
                        <p>{{ 'Nom d\'utilisateur'|trans }} : {{ searchedUser.username }}</p>
                        <p>{{ 'Email'|trans }} : {{ searchedUser.email }}</p>
                        <p>{{ 'Ville'|trans }} : {{ searchedUser.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}