<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Email</title>
</head>
<body>
    <h1>{{ type | capitalize }} de {{ sender.firstname }} {{ sender.lastname }}</h1>
    <h2>{{ user.firstname }} {{ user.lastname }},</h2>
    <p>{{ content }}</p>
</body>
</html>