<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Email</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">{{ type | capitalize }} de {{ sender.firstname }} {{ sender.lastname }}</h1>
    <h2 class="display-4">{{ user.firstname }} {{ user.lastname }},</h2>
    <p class="lead">{{ content }}</p>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>