{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-row p-2">
    <label class="mr-2" for="username">{{ 'Nom d\'utilisateur: '|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    </div>

    <div class="form-row p-2">
    <label class="mr-4" for="password">{{ 'Mot de passe:'|trans }}</label>
    <input class="ml-2" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>

    <div class="form-check p-2">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label class="form-check-label mr-2" for="remember_me">{{ 'se souvenir de moi'|trans }}</label>
    </div>

    <div class="form-row p-2">
    <input type="submit" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}" />
    </div>
</form>

{% endblock body %}