{% extends 'base.html.twig' %}
{% block title %}Compte Utilisateur{% endblock %}
{% block body %}
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        logged as {{ app.user.username }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock body %}
