{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/event.css') }}">
{% endblock %}

{% block body %}
    <h1 class="mt-2 text-center">Liste des évènements</h1>
    <div class="row">
    {% for event in events %}
        <div class="col-lg-3 col-md-6">
            <div class="card mr-3 mb-4">
                <div class="overlay">
                    <img class="card-img-top image" src="{{ asset('images/') }}{{ event.image }}" alt="{{ event.title }}">
                    <span class="text-description p-1">
                        {% if event.description|length > 200 %}
                            {{ event.description|slice(0, 200) ~ '...' }}
                        {% else %}
                            {{ event.description }}
                        {% endif %}
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a class="btn btn-primary" href="{{ path('event_show', { 'id': event.id }) }}">
                            {% if event.title|length > 20 %}
                                {{ event.title|slice(0, 20) ~ '...' }}
                            {% else %}
                                {{ event.title }}
                            {% endif %}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
