{% extends 'base.html.twig' %}
{% block title %}Créer votre évènement{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="offset-3 col-md-6 shadow">
            <h1 class="text-center mt-3">Création de l'évènement</h1>
            {{ form_start(form) }}
                {{ form_row(form.title, {'label' : 'Titre :'}) }}
                {{ form_row(form.city, {'label' : 'Ville :'}) }}
                {{ form_row(form.imageFile, {'label' : 'Photo :', 'attr' : {'class' : 'custom-file-input'}}) }}
                {{ form_row(form.description, {'label' : 'Description :', 'attr': {'novalidate': 'novalidate'}}) }}
                <button type="submit"  class="btn btn-primary float-right">Créer   <i class="fas fa-chevron-right"></i></button>
            {{ form_end(form) }}
            <a href="{{ path('event_index') }}" class="btn btn-primary mb-3">   <i class="fas fa-chevron-left"></i>Retour</a>
        </div>
    </div>
{% endblock %}



