{% extends 'base.html.twig' %}
{% block title %}Créer votre évènement{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="col-md-6 offset-md-3 shadow">
            <h1 class="text-center mt-3">Créer votre évènement</h1>
            {{ form_start(form) }}
                {{ form_row(form.title, {'label' : 'Titre :'}) }}
                {{ form_row(form.city, {'label' : 'Ville :'}) }}
                {{ form_row(form.imageFile, {'label' : 'Photo :', 'attr' : {'class' : 'custom-file-input'}}) }}
                {{ form_row(form.description, {'label' : 'Description :', 'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.tags, {'label' : 'Mots-clés :'}) }}
                <button type="submit"  class="btn btn-primary float-right">
                    <i class="fas fa-plus"></i> Créer
                </button>
            {{ form_end(form) }}
            <a href="{{ path('event_index') }}" class="btn btn-dark mb-3">
                <i class="fas fa-chevron-left"></i> Retour
            </a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>let latitude = {{ form.latitude.vars.id }};
            let longitude = {{ form.longitude.vars.id }};
            let codePostal = {{ form.CodePostal.vars.id }};
            let searchBar = {{ form.city.vars.id }};
    </script>
    <script src="{{ asset('build/searchCity.js') }}" ></script>
{% endblock %}



