{% extends 'base.html.twig' %}
{% block title %}{{ event.title }}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="my-5">
        <h1 class="text-center mb-3">{{ event.title|title }}</h1>
        <div>
            <section class="d-flex flex-row">
                <div class="p-0 mr-5">
                    <img class="img-fluid" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.title }}">
                </div>
                <div class="p-0">
                    <div>
                        <div>
                            <h5>Descriptif :</h5>
                            <p>{{ event.description }}</p>
                        </div>
                        <div class="mt-5">
                            <h5 class="mt-2">Les éditions :</h5>
                            <ul class="editionsList list-group">
                                {% for edition in event.editions|reverse %}
                                    {% if edition.endDate < today %}
                                        <li class="list-group-item list-group-item-dark"><a href="{{ path('edition_show', {'id' : edition.id}) }}"><b>{{ edition.name }} :</b> Terminée <i class="fas fa-hourglass-end"></i></a></li>
                                    {% else %}
                                        <li class="list-group-item list-group-item-light"><a href="{{ path('edition_show', {'id' : edition.id}) }}"><b>{{ edition.name }} :</b> <i class="far fa-clock"></i> du {{ edition.startDate|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d/M/Y H:mm") }} au {{ edition.endDate|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d/M/Y H:mm") }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="mt-5">
            <a role="button" class="btn btn-dark" href="{{ path('event_index') }}"><i class="fas fa-chevron-left"></i> Retour aux évènements</a>
        </div>
    </div>
{% endblock %}
