{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">{{ event.title }}</h1>
    <div class="text-center mb-5">
        <a type="button" class="btn btn-primary" href="#">Participer</a>
    </div>

    <div>

        <section class="d-flex flex-row">

            <div class="p-0 mr-5">
                <a href="#"><img class="img-fluid" src="{{ asset('images/') }}{{ event.image }}" alt="{{ event.title }}"></a>
            </div>
            <div class="p-0">
                <div>
                    <h3>Prochaine edition :</h3>
                    <p>{{ event.description }}</p>
                </div>
                <div>
                    <h3>Descriptif :</h3>
                    <p></p>
                </div>
            </div>

        </section>

    </div>

    <div class="text-center m-5">
        <a type="button" class="btn btn-primary" href="{{ path('event_index') }}"><i class="fas fa-chevron-left"></i> Retour</a>
    </div>

{% endblock %}
